* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

nav {
  max-width: 1360px;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 0;
}

ul li a {
    cursor: pointer;
    color: black;
    text-decoration: none;
    font-size: 16px;
}


button{
    padding: 12px 16px;
    background-color: #469165;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 379px;
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.banner-title{
    color: white;
    text-align: center;

}
